body{
    margin: 0;
}
.orange_bg{
    background: #feeae9;
    border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #ff136f;
}
.buy_now_btn{
    background-image: linear-gradient(to bottom, #FF589F 0%, #FF136F 100%);
    border-radius: 8px;
    padding: 10px 20px;
    color: #fff;
    border: none;
}
.cat_1, .cat_2, .cat_3{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.cat_1{
    background: orange;
}
.cat_2{
    background: orchid;
}
.cat_3{
    background: blue;
}
.catagories h1{
    color: #fff;
}
.catagories img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer{
    background: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}